@import url();

* {
  
  margin: 0;
  box-sizing: border-box;
  font-family: "MetroPoliceBold-Bold", sans-serif;
  text-decoration: none;
 
}
.infinite-scroll-container{
  max-width: 100vw;

}

.position{
  width: fit-content;
}

body{
  background-color: #030303;
}
.infinte-scroll.formation:hover {
  color:#FFFF47; /* Couleur du texte au survol */
  border-color: #FFFF47; /* Couleur des bordures au survol */
}
.infinte-scroll.skill:hover {
  color:#FFFF47; /* Couleur du texte au survol */
  border-color: #FFFF47; /* Couleur des bordures au survol */
}
.infinte-scroll.contact1:hover {
  color:#FFFF47; /* Couleur du texte au survol */
  border-color: #FFFF47; /* Couleur des bordures au survol */
}


.infinte-scroll.formation {
  display: flex;

  background: #000;
  border-style: solid;
  border-color: #ffffff;
  overflow: hidden;

  transition: color 0.3s, border-color 0.3s; 
  color: #ffffff;
  /* margin-left: 233.59px; */
  margin-top: 24px; 
  /* transform-origin: 0 0; */
  /* transform: rotate(15deg) scale(1, 1); */
}

/* Media queries pour ajuster la mise en page sur différents écrans */




.infinte-scroll.skill {
  display: flex;

  border-style: solid;
  border-color: #ffffff;
  background: #000;
  overflow: hidden;
  
  color: #ffffff;

  /* margin-top: 250px; Remplacement de "top" par "margin-top" */
  transform-origin: right;
  /* transform: rotate(-9.95deg) scale(1.1, 1.1); */
  margin-top: 2%;
}




.infinte-scroll.skill-alt {
  display: flex;

  border-style: solid;
  border-color:#FFFF47;
  background: #000;
  overflow: hidden;
  color:#FFFF47;
  /* margin-right: 20px; */
   margin-top: 250px; 
  transform-origin: right;
  /* transform: rotate(-9.95deg) scale(1.1, 1.1); */
}




.infinte-scroll.contact {
  display: flex;
  justify-content: space-between;
  /* border-style: solid;
  border-color: #ffffff;
  background: #000; */

  left: auto;
  bottom: 0;
  overflow: hidden;
  color: #ffffff;


}
.infinte-scroll.contact1{
  display: flex;

  border-style: solid;
  border-color: #ffffff;
  background: #000;
  width: 100%;

  bottom: 0;
  overflow: hidden;
  color: #ffffff;
  margin-top: 8%;

}
/* Styles pour la fenêtre contextuelle */
.contact-popup {
  display: none;
  position: relative;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -101%);
  background-color: #000000ba;
  color: white;
  padding: 95px;
  border: 2px solid #000000;
  border-radius: 10px;
  z-index: 9999;
}

.pos{
  display: flex;
  flex-direction: column;
  align-items: center;
}


h1 {
  font-size: 40px;
  text-transform: uppercase;
  /* color: #fff; */
  white-space: nowrap;
  padding: 0 6rem;
  letter-spacing: 3px;
  animation: move-rtl 6000ms linear infinite;


}

@keyframes move-rtl {
  0%
  {
    transform: translateX(0%);
  }

  100%
  {
    transform: translateX(-100%);
  }
  
}

.home{
  /* background-color: #1a1a1e;
 
  
  height: auto;
  width: 80%;
  
  margin-left: 10%;
  padding-top: 10%;
  padding-right: 5%;
  border-radius: 15px;
  border-style: solid;
  border-color: white;
   */
   display: flex;
   flex-direction: column;
   margin-top: 2%;
   margin-right: 3%;
   margin-left: 3%;
   background: #1a1a1e;
   border-radius: 15px;
   border-style: solid;
   border-color: #ffffff;
   border-width: 5px;
   width: auto;
   height: 100%;
  
  
 

}

.title{
  margin-top: 20%;
  margin-left: 5%;
  color: white;
  font-family:"MetroPoliceBold-Bold", sans-serif;
  font-size: 1em;
  /* letter-spacing: 5px; */


}
.presentation-text{
  display: flex;
  padding: 0.5em;
  flex-direction: column;
  margin-left: 4.5%;
  line-height: 180%;
  color: white;
}


.skill-header {
  background: #000000;
  border-style: solid;
  border-color: #ffffff;
  border-width: 5px;
  /* width: 110%; */
  height: 308px;
  overflow: hidden;
  margin-top: 10em;
  /* margin-left: -5rem; */

}

.skill-header-txt{
  color: #ffffff;
  text-align: center;
  font-family: "MetroPoliceBoldItalic-BoldItalic", sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  font-style: italic;
  
  margin-top: 7%;
 

  display: flex;
  align-items: center;
  justify-content: center;
}

/* .elipse-1{
  background: #ffffff;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
 
 
} */
/* 
.elipse-2 {
  background: #ffffff;
  border-radius: 50%;
  width: 38px;
  height: 38px;

  left: 1846px;
  top: 1703px;
} */

.langages-de-programmation{
  background-color: #000;
  width: 100%;
  border-style: solid;
  border-color: #ffffff;
  border-width: 5px;
  height: 50em;
  margin-right: -39%;
}
.framework{
  background-color: #000;
  width: 100%;
  border-style: solid;
  border-color: #ffffff;
  border-width: 5px;
  /* margin-left: 50%; */
  /* margin-top: -26%; */

}



.skill-set {
  color: white;
  padding: 5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-transform: uppercase;
}

.skill-set img {
  width: 50px; /* Adjust the width to your preference */
  height: auto; /* Maintain aspect ratio */
}



.skill-set div {
  font-size: 1.2em;
  font-family: "MetroPoliceBoldItalic-BoldItalic", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  row-gap: 2em;
  grid-column-gap: 1em;
  place-content: space-between;
  grid-row-gap: 5em;
}

.skill-set2 {
  color: white;
  padding: 5em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-transform: uppercase;
  
}

.skill-set2 img {
  width: 50px; /* Adjust the width to your preference */
  height: auto; /* Maintain aspect ratio */
}



.skill-set2 div {
  font-size: 1.2em;
  font-family: "MetroPoliceBoldItalic-BoldItalic", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  row-gap: 2em;
  grid-column-gap: 1em;
  place-content: space-between;
  grid-row-gap: 5em;
}

.frame{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

.others-app{
  background: #000000;
  display: flex;
  border-style: solid;
  border-color: #ffffff;
  border-width: 5px;
  /* width: 110%; */
  height: 4;
  flex-direction: column;
  flex-wrap: wrap;
}

.skill-set3{
  color: white;
  display: flex;
  align-items: flex-end;
  gap: 5em;
  padding: 5em;
  margin-left: 14%;
  text-transform: uppercase;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-end;
  flex-direction: row;
}
.skill-set3 img {
 
  height: 5em; /* Maintenir le rapport hauteur-largeur */
}

.frame2 {
  background: #000000;
  width: 90%; /* Utilisation de pourcentages pour la largeur pour le rendre responsive */
  max-width: 600px; /* Largeur maximale pour éviter que le contenu ne devienne trop étiré sur les écrans larges */
  display: flex;
  color: #ffffff;
  flex-direction: column; /* Disposition des éléments enfants en colonne */
  align-items: center; /* Centrage horizontal des éléments enfants */
  margin: 0 auto; /* Centrage horizontal du conteneur */
  padding: 20px; /* Ajout de marges internes pour aérer le contenu */
  white-space-collapse: preserve-breaks;
}

.exp1 {
  background-color: #1a1a1e;

  padding: 20px;
  margin-bottom: 8em; /* Ajout de marge inférieure pour espacer les blocs */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* Largeur de chaque carte */
}


.exp2 {
  background-color: #1a1a1e;

  padding: 20px;
  margin-bottom: 8em; /* Ajout de marge inférieure pour espacer les blocs */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* Largeur de chaque carte */
}

.exp3 {
  background-color: #1a1a1e;

  padding: 20px;
  margin-bottom: 8em; /* Ajout de marge inférieure pour espacer les blocs */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* Largeur de chaque carte */
}

.exp4 {
  background-color: #1a1a1e;

  padding: 20px;
  margin-bottom: 8em; /* Ajout de marge inférieure pour espacer les blocs */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* Largeur de chaque carte */
}

.exp:last-child {
  margin-bottom: 0; /* Supprime la marge inférieure du dernier élément pour éviter un espace vide inutile */
}

@media screen and (min-width: 768px) {
  .frame2 {
    width: 70%; /* Ajustement de la largeur pour les écrans plus grands */
  }
}
